<h1 class="MainTitle">AGoodBlog</h1>
<div class="separation"></div>
<div class="newsForm">
  <div class="form">
    <input type="text" placeholder="Título" [(ngModel)]="noticia.titulo" />
    <input type="text" placeholder="Imagen url" [(ngModel)]="noticia.imagen" />
    <input
      type="text"
      placeholder="Texto"
      class="textContainer"
      [(ngModel)]="noticia.texto"
    />
    <input type="text" placeholder="Fecha" [(ngModel)]="noticia.fecha" />
  </div>
  <div class="createNew">
    <button class="cnButton" (click)="cargarNoticia()">Crear Noticia</button>
  </div>
</div>

<div class="separation"></div>
<div class="newsList">
  <ul>
    <article class="new">
      <h2>{{ arrayNoticiasBase[0].titulo }}</h2>
      <img src="{{ arrayNoticiasBase[0].imagen }}" />
      <p>{{ arrayNoticiasBase[0].texto }}</p>
      <p>{{ arrayNoticiasBase[0].fecha }}</p>
    </article>
    <article class="new">
      <h2>{{ arrayNoticiasBase[1].titulo }}</h2>
      <img src="{{ arrayNoticiasBase[1].imagen }}" />
      <p>{{ arrayNoticiasBase[1].texto }}</p>
      <p>{{ arrayNoticiasBase[1].fecha }}</p>
    </article>
  </ul>
  <ul [innerHTML]="pintarNoticia()"></ul>
</div>
