.separation {
  border-bottom: 3px solid white;
  margin: 0;
}
.MainTitle {
  display: flex;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  background: linear-gradient(135deg, black, #8f2a98, black, #4b83b7, black);
  color: white;
}
.newsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form input {
  width: 100%;
  padding: 5px;
  border-radius: 12px;
  text-align: left;
  vertical-align: top;
  border: 2px solid black;
  outline: none;
}

.form .textContainer {
  width: 200%;
  height: 300px;
  padding: 10px;
  border-radius: 12px;
  text-align: left;
  vertical-align: top;
  overflow: auto;
  font-family: inherit;
  resize: none;
  border: 2px solid black;
  outline: none;
}

.createNew {
  display: flex;
  justify-content: center;
}
.cnButton {
  background-color: #f6d1ff;
  color: #1e1e1e;
  border: 2px solid black;
  border-radius: 12px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cnButton:hover {
  background-color: #b6deff;
}

.createNew button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .new {
    flex: 0 0 100%;
  }
}
