<h1 class="MainTitle">AGoodBlog</h1>
<div class="separation"></div>
<div class="newsForm">
  <div class="form">
    <input type="text" placeholder="Título" [(ngModel)]="noticia.titulo" />
    <input type="text" placeholder="Imagen url" [(ngModel)]="noticia.imagen" />
    <textarea
      placeholder="Texto"
      class="textContainer"
      [(ngModel)]="noticia.texto"
    ></textarea>

    <input type="text" placeholder="Fecha" [(ngModel)]="noticia.fecha" />
  </div>
  <div class="createNew">
    <button class="cnButton" (click)="cargarNoticia()">Crear Noticia</button>
  </div>
</div>

<div class="separation"></div>
<div class="newsList" [innerHTML]="pintarNoticia()"></div>
