.separation {
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.MainTitle {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.newsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  width: 150px;
  padding: 5px;
  border-radius: 12px;
  text-align: left;
  vertical-align: top;
}

.form input.textContainer {
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 12px;
  text-align: left;
  vertical-align: top;
  resize: vertical;
}

.createNew {
  display: flex;
  justify-content: center;
}
.cnButton {
  border-radius: 10px;
}

.createNew button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
}

.new {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  align-items: center;
  border-radius: 30px;
}
.new img {
  height: 30%;
  width: 30%;
}
